/* -- RESET CSS -- */
* { box-sizing: border-box; padding: 0; margin: 0; }

body { font-family: 'Poppins', sans-serif; }

/* DEFULT */
.container {
    width: 80%;
}
.btn1 {
    background-color:#d25c69;
    color: #ceccce;
    padding: 5px 40px;
    font-size: 23px;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: .5s;
}
.btn1:hover {
    background-color:#b14b57;
}