
/* SECTION 1 */
.section1 {
    display: flex;
    justify-content: center;
    background-image: url('/assets/images/rafaelbastista_02_background-marca.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.wrapper-section1 {
    display: flex;
    align-items: center;
    height: 100%;
}

.wrapper-section1 h1{
    font-size: 50px;
    color: #ceccce;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 20px;
}

/* MOBILE */
@media (max-width:786px){
    .section1{
        height: 340px;
    }
    .wrapper-section1 .logo{
        width: 200px;
    }
    .wrapper-section1 h1{
        font-size: 30px;
    }
}

/* FIM SECTION 1 */